{# empty Twig template  #}
{% extends "YBEleveurBundle::layout.html.twig" %}

{% block eleveur_body %}
<h2> ici la presentation de l'exploitation </h2>

<nav>
    <ul>
        <li>Un lien ver le cheptel</li>
        <li>Un line ver l'exploitant</li>
        <li>formulaire de contact</li>
    </ul>
</nav>
{% endblock %}